all-routes md-card {

}

[ng-click] {
  cursor: pointer;
}

md-card-header {
  margin-top: 8px;
}

md-card-header-text {
  /* color: #1b5e20; */
  text-align: center;
}

md-card-header-text .md-caption {
  color: rgba(0, 0, 0, 0.54);
  margin-top: 6px;
}

all-routes md-card md-card-content {
  padding-top: 8px;
}

.stats {
  /* color: #1b5e20; */
}

.stats .number {
  font-size: 32px;
  font-weight: 100;
  line-height: 40px;
}

.stats .units, .stats .out-of {
  line-height: 14px;
}

.stats .units {
  font-size: 14px;
}

.stats .out-of {
  font-size: 22px;
}

.stats .distance {
  text-align: left;
}

.stats .elevation {
  text-align: center;
}

.stats .difficulty {
  text-align: right;
}

.hint-text {
  /* color: #c49000; */
  opacity: 0.54;
}

md-card md-card-content p.description {
  margin-top: 30px;
  margin-bottom: 16px;
  text-align: center;
}

md-divider.with-padding {
  /* padding-left: 8px;
  padding-right: 8px; */
  margin-left: 16px;
  margin-right: 16px;
}

md-card-footer organiser {
  display: inline-flex !important;
  padding-right: 16px;
  margin-left: 16px;
  background: rgb(224, 224, 224);
  border-radius: 0 16px 16px 0;
  font-size: 13px;
  height: 32px;
  letter-spacing: 0.6px;
  line-height: 32px;
}

md-card-footer organiser .avatar-icon {
  position: relative;
  margin-left: -16px;
  margin-right: 8px;
  background: rgb(224, 224, 224);
  /* This image is 687 wide by 1024 tall, similar to your aspect ratio */
  /* background-image: url('http://i.stack.imgur.com/Dj7eP.jpg'); */
  /* make a square container */
  width: 32px;
  height: 32px;
  /* fill the container, preserving aspect ratio, and cropping to fit */
  background-size: cover;
  /* center the image vertically and horizontally */
  background-position: top center;
  /* round the edges to a circle with border radius 1/2 container size */
  border-radius: 50%;
}

/* md-card-footer organiser+.md-caption {
  color: rgba(0,0,0,0.54);
  margin-top: 6px;
} */
