<p>Search: <input ng-model="allRoutesCtrl.query" /></p>
<md-fab-toolbar class="filters" md-open="false" count="3" md-direction="left">
  <md-fab-trigger class="align-with-text">
    <md-button aria-label="menu" class="md-fab md-primary md-whiteframe-6dp">
      <md-icon md-svg-src="img/icon/filter.svg"></md-icon>
    </md-button>
  </md-fab-trigger>

  <md-toolbar>
    <md-fab-actions class="md-toolbar-tools">
      <md-button ng-click="allRoutesCtrl.changeOrderBy('elevation_gain')" aria-label="comment" class="md-icon-button">
        <md-icon md-svg-src="img/icon/ascent.svg"></md-icon>
      </md-button>
      <md-button ng-click="allRoutesCtrl.changeOrderBy('distance')" aria-label="label" class="md-icon-button">
        <md-icon md-svg-src="img/icon/distance.svg"></md-icon>
      </md-button>
    </md-fab-actions>
  </md-toolbar>
</md-fab-toolbar>
<div layout-margin>
  <md-card ng-repeat="route in allRoutesCtrl.routes | filter:allRoutesCtrl.query | orderBy:allRoutesCtrl.orderBy" class="{{route.organiser}}">

    <gpx-on-map ng-click="allRoutesCtrl.goToUrl(route.url)" gpxfile="route.gpx" style="min-height:200px; background:#ddd;"></gpx-on-map>
    <organiser layout="row" layout-align="center">
      <div class="avatar-icon" ng-style="{'background-image':'url(img/pin/{{route.organiser | organiserIcon}}.png)'}">
        <md-tooltip md-direction="bottom">{{route.organiser | organiserName}}</md-tooltip>
        <!-- <img class="avatar-icon" ng-src="img/pin/{{route.organiser | organiserIcon}}.png"></img> -->
      </div>
    </organiser>

    <md-card-header>
      <md-card-header-text ng-click="allRoutesCtrl.goToUrl(route.url)">
        <span class="md-title">{{route.name}}</span>
        <!-- <span class="md-subhead" ng-if="route.description">{{route.description}}</span> -->
        <!-- <creation-date class="md-caption">{{route.created_at | date:'dd MMM yyyy'}}</creation-date> -->
        <modified-date class="md-caption">{{route.modified_on | date:'dd MMM yyyy'}}</modified-date>
      </md-card-header-text>
    </md-card-header>
    <md-card-content>
      <div class="stats" layout="row" layout-align="space-between none" layout-wrap>
        <div class="distance">
          <div class="number md-body-2">{{route.distance | numberConversion | number:0}}<span class="units secondary-text">{{route.distance | numberUnits}}</span></div>
          <div class="md-caption hint-text">
            Distance
          </div>
        </div>
        <div class="elevation">
          <div class="number md-body-2">{{route.elevation_gain | number:0}}<span class="units secondary-text">m</span></div>
          <div class="md-caption hint-text">
            Elevation gain
          </div>
        </div>
        <div class="difficulty">
          <div class="number md-body-2">
            {{route.difficulty}}<span class="out-of">/</span>10
          </div>
          <div class="md-caption hint-text">
            Difficulty
          </div>
        </div>
      </div>
      <p class="md-body-1 description">{{route.description}}</p>

    </md-card-content>
    <md-divider class="with-padding" ng-if="route.rides"></md-divider>
    <md-card-footer layout="column" layout-align="center center" ng-if="route.rides">
      <p class="md-caption">Route cycled by</p>
      <div class="md-body-1 rides" layout="row" layout-align="center center" layout-wrap>
        <ride ng-repeat="ride in route.rides"><a ng-href="{{ride.activity}}" target="_blank">{{ride.cyclist}} - {{ride.date}}</a></ride>
      </div>
      <!-- <div class="md-caption">{{route.created_at | date:'dd MMM yyyy'}}</div> -->

      <!-- <md-card-icon-actions hide-xs layout-gt-xs="row" flex="none" layout-align-gt-xs="center">
        <md-button class="md-icon-button" aria-label="Favorite">
          <md-icon class="" md-svg-icon="img/icon/download.svg">
            <md-tooltip>Download GPX for {{route.name}}</md-tooltip>
          </md-icon>
        </md-button>
      </md-card-icon-actions> -->
    </md-card-footer>
    <!-- <md-card-actions layout="row">
      <md-button class="md-primary" ng-href="{{route.url}}">Full details</md-button>
    </md-card-actions> -->
  </md-card>
</div>


<!-- <pre>{{allRoutesCtrl.routes | json}}</pre> -->
