<div layout-margin>
  <md-card ng-click="allRoutesCtrl.goToUrl(route.url)" ng-repeat="route in allRoutesCtrl.routes | orderBy:'-created_at'" class="{{route.organiser}}">

    <gpx-on-map gpxfile="route.gpx" style="min-height:200px; background:#ddd;"></gpx-on-map>

    <md-card-header>
      <md-card-header-text>
        <span class="md-title" >{{route.name}}</span>
        <!-- <span class="md-subhead" ng-if="route.description">{{route.description}}</span> -->
        <creation-date class="md-caption">{{route.created_at | date:'dd MMM yyyy'}}</creation-date>
      </md-card-header-text>
    </md-card-header>
    <md-card-content>
      <div class="stats" layout="row" layout-align="space-between none" layout-wrap>
        <div class="distance">
          <div class="number md-body-2">{{route.distance | numberConversion | number:0}}<span class="units secondary-text">{{route.distance | numberUnits}}</span></div>
          <div class="md-caption hint-text">
            Distance
          </div>
        </div>
        <div class="elevation">
          <div class="number md-body-2">{{route.elevation_gain | number:0}}<span class="units secondary-text">m</span></div>
          <div class="md-caption hint-text">
            Elevation gain
          </div>
        </div>
        <div class="difficulty">
          <div class="number md-body-2">
            {{route.difficulty}}<span class="out-of">/</span>10
          </div>
          <div class="md-caption hint-text">
            Difficulty
          </div>
        </div>
      </div>
      <p class="md-body-1 description">{{route.description}}</p>
      <p ng-if="route.rides" class="md-body-1 rides">Route done by: <span ng-repeat="ride in route.rides"><a ng-href="{{ride.activity}}">{{ride.cyclist}} - {{ride.date}}</a> | </span></p>
    </md-card-content>
    <md-divider class="with-padding"></md-divider>
    <md-card-footer layout="column" layout-align="center center">
      <organiser>
        <!-- <md-icon class="md-avatar-icon" md-svg-icon="img/icons/android.svg"></md-icon> -->
        <div class="avatar-icon" ng-style="{'background-image':'url(img/pin/{{route.organiser | organiserIcon}}.png)'}">
          <!-- <img class="avatar-icon" ng-src="img/pin/{{route.organiser | organiserIcon}}.png"></img> -->
        </div>
        <span>{{route.organiser | organiserName}}</span>

      </organiser>
      <!-- <div class="md-caption">{{route.created_at | date:'dd MMM yyyy'}}</div> -->

      <!-- <md-card-icon-actions hide-xs layout-gt-xs="row" flex="none" layout-align-gt-xs="center">
        <md-button class="md-icon-button" aria-label="Favorite">
          <md-icon class="" md-svg-icon="img/icon/download.svg">
            <md-tooltip>Download GPX for {{route.name}}</md-tooltip>
          </md-icon>
        </md-button>
      </md-card-icon-actions> -->
    </md-card-footer>
    <!-- <md-card-actions layout="row">
      <md-button class="md-primary" ng-href="{{route.url}}">Full details</md-button>
    </md-card-actions> -->
  </md-card>
</div>

<!-- <pre>{{allRoutesCtrl.routes | json}}</pre> -->
