[ng-click] {
  cursor: pointer;
}

@media (min-width: 600px) {
  all-routes>div {
    columns: 2;
    column-gap: 0;
  }
  all-routes>div md-card {
    display: inline-flex;
    /* width: calc(50vw - 3*8px); */
    width: calc(100% - 16px);
  }
}

@media (min-width: 960px) {
  all-routes>div {
    columns: 3;
  }
}

md-card-header {
  margin-top: -16px;
}

md-card-header-text {
  /* color: #1b5e20; */
  text-align: center;
}

md-card-header-text .md-caption {
  color: rgba(0, 0, 0, 0.54);
  margin-top: 6px;
}

all-routes md-card md-card-content {
  padding-top: 8px;
}

.stats {
  /* color: #1b5e20; */
}

.stats .md-caption {
  color: rgba(0,0,0,0.54);
}

.stats .number {
  font-size: 24px;
  font-weight: 100;
  line-height: 32px;
}

.stats .units, .stats .out-of {
  line-height: 14px;
}

.stats .units {
  font-size: 14px;
}

.stats .out-of {
  font-size: 22px;
}

.stats .distance {
  text-align: left;
}

.stats .elevation {
  text-align: center;
}

.stats .difficulty {
  text-align: right;
}

/* Gives some visual balance */

.distance .md-caption {
  padding-left: 1px;
}

md-card md-card-content p.description {
  margin-top: 30px;
  margin-bottom: 16px;
  text-align: center;
}

md-divider.with-padding {
  /* padding-left: 8px;
  padding-right: 8px; */
  margin-left: 16px;
  margin-right: 16px;
}

/* organiser {
  display: inline-flex !important;
  padding-right: 16px;
  margin-left: 16px;
  background: rgb(224, 224, 224);
  border-radius: 0 16px 16px 0;
  color: #000;
  font-size: 13px;
  height: 32px;
  letter-spacing: 0.6px;
  line-height: 32px;
} */

organiser {
  position: relative;
  top: -20px;
  z-index: 400;
}

organiser .avatar-icon {
  /* position: relative; */
  /* This image is 687 wide by 1024 tall, similar to your aspect ratio */
  /* background-image: url('http://i.stack.imgur.com/Dj7eP.jpg'); */
  /* make a square container */
  width: 48px;
  height: 48px;
  /* fill the container, preserving aspect ratio, and cropping to fit */
  background-size: cover;
  /* center the image vertically and horizontally */
  background-position: center center;
  /* round the edges to a circle with border radius 1/2 container size */
  background-color: rgba(250,250,250,0.6);
  border-radius: 50%;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
}

md-card.altura,
.altura organiser .avatar-icon {
  background-color: rgba(202, 202, 202, 0.2);
}

md-card.brewin,
.brewin organiser .avatar-icon {
  background-color: rgba(32, 85, 134, 0.2);
}
.brewin md-card-header-text {
  color: rgba(32, 85, 134, 0.87);
}

md-card.ctc,
.ctc organiser .avatar-icon {
  background-color: rgba(139, 39, 79, 0.2);
}
.ctc md-card-header-text {
  color: rgba(104, 29, 59, 0.87);
  /* color: rgba(139, 39, 79, 1); */
}

md-card.dulux,
.dulux organiser .avatar-icon {
  background-color: rgba(141, 151, 166, 0.1);
}
.dulux md-card-header-text {
  /* color: rgba(141, 151, 166, 0.87); */
  color: rgba(71, 76, 83, 0.87);
}

md-card.roo,
.roo organiser .avatar-icon {
  /* background-color: rgba(251, 192, 45, 0.2); */
  background-color: rgba(255,223,0, 0.1);
}
.roo md-card-header-text {
  /* color: rgba(218,165,32, 0.87); */
  color: rgba(128,112,0, 0.87);
}

.filters {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 500;
}

.filters md-toolbar {
  width: 100vw;
}

.md-button.md-fab {
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12)
}
